--- #-------------------------------------------------------------------------------------------------------------

	#-------------------------------------------------------------------------------------------------------------
	# Copyright (c) Microsoft Corporation. All rights reserved.
	# Licensed under the MIT License. See https://go.microsoft.com/fwlink/?linkid=2090316 for license information.
	version: '3'
	services:
		web:
			# Uncomment the next line to use a non-root user. On Linux, this will prevent
			# new files getting created as root, but you may need to update the USER_UID
			# and USER_GID in .devcontainer/Dockerfile to match your user if not 1000.
			# user: node
	
			build:
				context: .
				dockerfile: Dockerfile
	
			volumes:
				- ..:/workspace
	
			# Overrides default command so things don't shut down after the process ends.
			command: sleep infinity
	
			links:
				- db
	
		db:
			image: mysql:8
			restart: always
			command: --default-authentication-plugin=mysql_native_password
			environment:
				MYSQL_DATABASE: 'db'
				# So you don't have to use root, but you can if you like
				MYSQL_USER: 'user'
				# You can use whatever password you like
				MYSQL_PASSWORD: 'password'
				# Password for root access
				MYSQL_ROOT_PASSWORD: 'password'
			ports:
				# <Port exposed> : < MySQL Port running inside container>
				- '3306:3306'
			expose:
				# Opens port 3306 on the container
				- '3306'
				# Where our data will be persisted
	
		adminer:
			image: adminer
			restart: always
			ports:
				- 8080:8080